@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

.login {
  background-image: url(../../images/shape-home33.png);
  background-size: cover;
  height: 800px;
  width: 100%;
}

.header-login {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.header-login nav {
  display: flex;
  width: 50%;
}

.header-login ul li a {
  color: white;
  font-family: "Red Hat Display";
}

.login main {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: column;
  font-family: "Red Hat Display";
  height: 70%;
  justify-content: center;
}

.wellcome {
  align-self: flex-start;
  color: white;
  margin-bottom: 3%;
  margin-left: 5%;
}

h2 {
  font-size: 50px;
}

h4 {
  font-weight: normal;
}

.wellcome > h4 {
  color: #c4f1ff;
}

.fieldset-login {
  align-items: center;
  border-radius: 13px;
  display: flex;
  flex-flow: column;
  height: 40%;
  justify-content: center;
  width: 20%;
}

.fieldset-login legend,
.register legend {
  font-family: "Red Hat Display";
  font-size: 18px;
}

.fieldset-login label,
.register label {
  display: flex;
  flex-flow: column wrap;
  font-family: "Red Hat Display";
  font-size: 16px;
  margin-bottom: 6%;
  width: 80%;
}

.fieldset-login label p,
.register label p {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  font-family: "Red Hat Display";
  font-size: 16px;
  /* margin-bottom: 6%; */
  width: 90%;
}

.fieldset-login label p svg,
.register label p svg{
cursor: pointer;
}

.fieldset-login input,
.register input {
  border-radius: 6px;
  height: 30px;
}

.fieldset-login input:focus,
.register input:focus {
  outline: none;
}

.register {
  align-items: center;
  border-radius: 13px;
  display: flex;
  flex-flow: column;
  height: 50%;
  justify-content: center;
  width: 20%;
}

.register button,
.fieldset-login button {
  background-color: #fe4c1c;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: "Red Hat Display";
  height: 30px;
  letter-spacing: 2px;
  margin-bottom: 5%;
  width: 60%;
}
